<?xml version="1.0" encoding="utf-8"?>
<unity xmlns="http://schemas.microsoft.com/practices/2010/unity">
  <typeAliases>
    <typeAlias alias="IJob" type=" Job.Interface.IJob,Job.Interface" />
    <typeAlias alias="MyTask" type="MyTask.MyActivity,MyTask" />
  </typeAliases>
  <containers>
    <container>
      <register type="IJob" mapTo="MyTask">
        <lifetime type="Unity.Lifetime.ContainerControlledLifetimeManager, Unity.Abstractions" />
      </register>
    </container>
  </containers>
</unity>
